.footer__container {
  height: 100vh;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  background-color: #3c2213b1;
  color: white;
  height: 3.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.github__logo {
  height: 2rem;
  position: relative;
  bottom: -14%;
  left: 0.6%;
}
