.results__items {
  margin: 2rem;
  list-style-type: upper-roman;
  text-indent: 2;
}

.results__container {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 1600px rgba(0, 0, 0, 0.438);
  width: 50vw;
  margin: 0rem auto 1rem auto;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 10px;
  border-top: #d8c9bb solid 10px;
  padding: 2rem;
}

.back-button {
  height: 4rem;
  margin: 2rem 0 0 2rem;
}
